@import "../utilities/variables";

.faq{
    .container{
        &__title{
            text-align: center;
            font-size: 45px;
            font-weight: 500;
            color: $black;
        }
        ul{
            margin-top: 4rem;
        }
    }
}