@import "../utilities/variables";

.teachers {
    padding-bottom: 40px;

    .container {
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__title {
                width: 45%;
                font-size: 52px;
                font-weight: 500;
                color: $black;
            }

            span {
                display: flex;
                justify-content: space-between;
                width: 100px;
            }

            &__button {
                width: 45px;
                height: 45px;
                color: $black;
                font-size: 1.5rem;
                border-radius: 50%;
                border: 1px solid $black;
                background-color: $white;
                transition: $transition;

                &:hover {
                    background-color: #21D789;
                }
            }
        }

        .slider-container {
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            &__list {
                height: 470px;
                margin-top: 2rem;
                display: flex;
                align-items: center;
                transition: $transition;
                transition: 1s all ease;

                &__slider {
                    margin-left: 3rem;

                    &__obj {
                        min-width: 260px;
                        transition: 0.5s all ease;
                        border-radius: 1rem;
                        background-color: #EFFFFB;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 300px;
                            object-fit: contain;
                            background-color: #EDF3F2;
                        }

                        h4 {
                            padding: 0 0.5rem;
                            text-align: center;
                            margin-top: 1rem;
                            font-style: 18px;
                            font-weight: 500;
                        }

                        p {
                            padding: 0 0.5rem 1rem;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 25px;
                            text-align: center;
                        }

                        &:first-child {
                            margin-left: .5rem;
                        }

                        &:hover {
                            min-width: 300px;
                            height: 470px;
                            background-color: $black;
                            border-radius: 1.3rem;

                            h4 {
                                color: $white;
                            }

                            p {
                                color: $white;
                            }

                            img {
                                height: 70%;
                                background-color: #21D789;
                            }
                        }
                    }

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}





@media only screen and (max-width: 1399px) {
    .teachers {
        .container {
            &__top {
                &__title {
                    width: 55%;
                }
            }
        }
    }
}


@media only screen and (max-width: 991px) {
    .teachers {
        .container {
            &__top {
                &__title {
                    width: 65%;
                    font-size: 42px;
                }
            }
        }
    }
}


@media only screen and (max-width: 767px) {
    .teachers {
        padding-bottom: 20px;

        .container {
            &__top {
                &__title {
                    width: 75%;
                    font-size: 32px;
                }

                span {
                    width: 90px;
                }

                &__button {
                    display: none;
                }
            }
        }
    }
}


@media only screen and (max-width: 444px) {
    .teachers {
        .container {
            &__top {
                &__title {
                    width: 75%;
                    font-size: 20px;
                }

                span {
                    width: 80px;
                }
            }

            &__list {
                &__slider {
                    img {
                        width: 250px;
                    }
                }
            }
        }
    }
}